<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	
<mapper namespace="board.dao.BoardDao">
	<!-- 
	<resultMap type="board" id="resultBoard">
	</resultMap> -->
	<select id="totCnt" resultType="int" 
		parameterType="boardsch">
			SELECT count(*)
			FROM BOARD b 
			WHERE subject LIKE '%'||#{subject}||'%'
			AND writer LIKE '%'||#{writer}||'%'
				
	</select>
	
	<select id="boardList" resultType="board"
 			parameterType="boardsch">
		SELECT *
		FROM (
			SELECT rownum cnt, b.*
			FROM BOARD b 
			WHERE subject LIKE '%'||#{subject}||'%'
			AND writer LIKE '%'||#{writer}||'%'
			START WITH refno = 0
			CONNECT BY PRIOR NO = refno
			ORDER siblings BY NO DESC)
		WHERE cnt BETWEEN #{start} AND #{end}
			
 	</select>
	 <select id="getBoard" resultType="board" 
 	 	parameterType="int">
 	 	select *
 	 	from board
 	 	where no = #{no}
 	 </select>
	<insert id="insertBoard" parameterType="board">
		INSERT INTO board values(board_seq.nextval,
		#{refno},#{subject},
		#{content},#{writer},0,sysdate, sysdate )		
	</insert> 
	<insert id="uploadFile" parameterType="boardfile">
		insert into boardfile values(
			board_seq.currval, #{fname}, '', '',sysdate )
	</insert> 		
 	<update id="updateBoard" parameterType="board">
		UPDATE board
		   SET subject = #{subject},
		   	   content = #{content},
		   	   writer = #{writer},
		   	   uptdte =sysdate
		 WHERE NO = #{no}
 	</update>
  	<delete id="deleteBoard" parameterType="int">
		DELETE FROM board
		 WHERE NO = #{no}
 	</delete> 	
 	<update id="uptReadCnt" parameterType="int">
		 UPDATE board
			SET readcnt = readcnt+1
		WHERE NO = #{no}	
 	</update>	 

	<select id="getBoadFile" 
		resultType="String" parameterType="int">
		select fname
		from boardfile
		where no = #{no}
	</select>	
	
</mapper>	