<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>REALYSK</title>
<script src="https://unpkg.com/vue/dist/vue.js" type="text/javascript"></script>
</head>
<!--
# 조건 반복 directive
	1. v-show="boolean값"
		일단 화면에 로딩 후, 특정 조건에 맞을 때 CSS로 보이게 하고 그렇지 않을 때 보이지 않게 처리할 때 사용된다.
		1) 기본 형식
			<태그 v-show="모델속성>=조건데이터">
	2. v-if
		요소객체 안에 속성으로 v-if를 활용하면 해당 요소 객체가 v-if의 속성값으로 true값일 때만 보이게 초기에 랜더링 처리할 수 있다.
		1) 기본 형식
			v-if="모델데이터조건1"
			v-else-if="모델데이터조건2"
			v-else=위에서 선언한 조건 이외일 때
-->
<body>
	<div id="show">
		<h2 align="center">{{msg}}</h2>
		사과의 가격 : <input v-model="price"/><br>
		<img :src="img01" v-show="price>=3000"/><br>
		획득한 점수 : <input v-model="point"/><br>
		<h3 v-if="point>=80">합격</h3>
		<h3 v-else-if="point>=0">불합격</h3>
		<h3 v-else>점수를 입력하세요.</h3>
	</div>
	<div id="show2">
		<!-- 
		ex) 구매한 금액 : [   ]
			1,000,000 이상 골드
			500,000 ~ 1,000,000미만 실버
			200,000 ~ 500,000 브론즈
			그외 기본
		 -->
		<h2 align="center">{{msg}}</h2>
		구매 금액 : <input v-model="pay"/><br>
		<h3 v-if="pay>=1000000">GOLD</h3>
		<h3 v-else-if="pay>=500000">SILVER</h3>
		<h3 v-else-if="pay>=200000">BRONZE</h3>
		<h3 v-else>BASIC</h3>	
	</div>
</body>
<script>
	var vm = new Vue ({
		el:"#show",
		data:{msg:"조건 Directive", price:0, img01:"apple.jpg", point:-1, pay:0}
	});
	
	var vm2 = new Vue ({
		el:"#show2",
		data:{msg:"회원등급", pay:0}
	});
</script>
</html>