<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	
<mapper namespace="springweb.a05_mvc.a03_dao.A05_CalendarDao">
	<resultMap type="cal" id="calResult">
		<!-- 사용 이유 : 테이블 컬럼명과 VO 변수명이 다를 경우 사용 -->
		<result property="start" column="start1"/>
		<result property="end" column="end1"/>
	</resultMap>
	
	<select id="calList" resultMap="calResult">
		SELECT * FROM calendar
	</select>
</mapper>