<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	
<mapper namespace="springweb.a05_mvc.a03_dao.A04_MemberDao">
	<select id="memberList" resultType="member" parameterType="member" >
		SELECT * FROM member
		WHERE name LIKE '%'||#{name}||'%'
		AND auth LIKE '%'||#{auth}||'%'
	</select>
	<insert id="insertMember" parameterType="member">
		INSERT INTO member VALUES (#{id}, #{pass}, #{name}, #{auth}, #{point})
	</insert>
	<update id="updateMember" parameterType="member">
			UPDATE member
				SET pass =#{pass},
				    name = #{name},
				    auth = #{auth},
				    point= #{point}
			   WHERE id = #{id}	
	</update>
	<delete id="deleteMember" parameterType="String">
		DELETE FROM member WHERE id = #{id}
	</delete>
</mapper>	